.header {
    padding: 5vh 5vw;
    background: #1abc9c;
    color: white;
}

.title {
    text-align: center;
    font-size: 4vw;
    margin: 5vh 5vw;
}

.dateInput {
    width: 25vw;
}

.products {
    padding: 5vh 5vw;
}

.headProd {
    margin: 5vh 5vw;
}

.productTitle {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
    padding: 2vh 2vw;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-card {
    margin: 10px;
    padding: 10px;
    width: 22vw;
    height: 72vh;
}

mat-card-header {
    height: 32vh;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.pic {
    width: 20vw;
}

.prodDescription {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.chipsoverflow {
    height: 3em;
    max-width: 20vw;
    display: block;
    max-height: 5vw;
    display: list-item;
    overflow: hidden;
    margin-bottom: 0;
}

::ng-deep .mat-chip-list-wrapper {
    display: block !important ;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

mat-chip-list {
    line-height: 1.5em;
    width: 100%;
}

.buttonsCard {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.logoPH {
    width: 3vw;
}

.errorMsg {
    padding: 2vw;
    text-align: center;
}

@media (max-width: 800px) {
    .buttonsCard {
        flex-direction:row;
        flex-wrap: wrap;
    }

    .chipsoverflow {
        margin: 8px;
    }

    mat-card-header {
        height: 23vh;
    }

    mat-card {
        height: 65vh;
    }
}