    <div class=header>
        <h1 class="title">Produits répertoriés par Product Hunt</h1>
        <mat-form-field class="dateInput" appearance="fill">
            <mat-label>Sélectioner une date</mat-label>
            <input matInput [matDatepicker]="date" (dateInput)="inputDate($event)">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
    </div>
    
    <div *ngIf="products.length > 0; else error" class="products">
        <mat-toolbar-row class="headProd">
            <span class="productTitle">Liste de produits sortis au {{ dateString }}</span>
            <span class="spacer"></span>
            <button mat-raised-button color="primary" (click)="openDialog()">Répartition des produits par catégories</button>
        </mat-toolbar-row>

        <div class="cards" >
            <mat-card *ngFor="let product of products">
                <mat-card-header>
                    <mat-card-title>{{ product.name }}</mat-card-title>
                    <img class="pic" mat-card-image *ngIf="product.thumbnail.type === 'image'" [src]="product.thumbnail.url" alt="Product's picture" title="Product's picture">
                </mat-card-header>
                <mat-card-content matTooltip="{{ product.description }}">
                    <p class="prodDescription" >
                        {{ product.description }}
                    </p>
                </mat-card-content>
                <mat-card-content class="chipsoverflow" matTooltip="{{ product.topics.join(' - ') }}">
                    <mat-chip-list aria-label="Topics">
                        <mat-chip *ngFor="let topic of product.topics">
                            <span>
                                {{ topic }}
                            </span>
                        </mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-content class="buttonsCard">
                    <p>
                        {{ product.votesCount }}
                        <mat-icon>favorite</mat-icon>
                    </p>
                    <p>
                        {{ product.reviewsRating }}
                        <mat-icon>thumb_up</mat-icon>
                    </p>
                </mat-card-content>
                <mat-card-actions class="buttonsCard">
                    <a mat-raised-button href="{{ product.url }}" title="Product's page on product hunt website">
                        <img title="Product's page on product hunt website" class="logoPH" src="../../assets/phlogo.jpg" alt="Product hunt logo">
                    </a>
                    <a href="{{ product.website }}" mat-raised-button title="Product's website">
                        <mat-icon>public</mat-icon>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <ng-template #error>
        <p class="errorMsg">{{ errorMsg }}</p>
    </ng-template>
